.body{
  width: 30%;
  align-items: center;
  align-content: center;
  text-align: center;
}

.container{
  width: 30%;
}


.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

.grid-item {
  text-align: center;
}

#TitelC{
  align-items: center;
  background-color: aquamarine;
}

#colM{
  align-items: center;
  align-content: center;
  text-align: center;
}

.row.row-cols-1{
  align-items: center;
  align-content: center;
  text-align: center;
}

.disabled {
  color: #757575;
}

.alert{
  width: auto;
}


.disabled {
  color: #757575;
}

